@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply bg-[#fafafa] dark:bg-[#060818];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}